@import "reset.less";
@import "func.less";
@import "smart-grid.less";

a:hover{
  text-decoration: none;
}

.body {
  width: 100%;
  background: #f2f2f2;
  font-size: 16px;
  font-family: "Ceorgia";
  min-width: 300px;
  position: relative;
  overflow-x: hidden;
}

.header{
  padding: 0;
}

.header__border-top{
  height: 20px;
  background-image: linear-gradient(to bottom, #213248 55%, #14273f 45%);
  margin: 0 auto;
}

.header__fon{
  height: 233px;
  .xs(height, 200px);
  .xxs(height, 170px);
  position: relative;
  background: url(../img/header-fon.png);
  background-position: 50%;
  background-size: cover;
  background-position: 50% 100%;
}

.header__container{
  position: relative;
}

.header-main{
  height: 213px;
  text-align: center;
  .justify-content(space-around);
  .sm(justify-content, center);
  .row-flex();
}

.logo_wrap{
  .col-2();
  position: relative;
}

.lolo-gradient{
  position: absolute;
  top: -48px;
  left: -79px;
  background-image: radial-gradient(circle closest-side at 50% 50%, rgba(255, 255, 255, 0.28), transparent);
  width: 380px;
  height: 265px;
}

.logo__link-img{
  position: relative;
  padding-top: 35px;
  .sm(padding-top, 25px);
  .sm(width, 120%);
  .xs(width, 150%);
  .xs(left, -20px);
}

.header-main__fonMan{
  background: url(../img/main.png)  0 -17px no-repeat;
  background-size: contain;
  .col-10();
  .sm(background-position, 0 -7px);
  .xs(background-position, 0 -1px);
}

.images{
  width: 100%;
  position: absolute;
  top: 93px;
  left: 0;
  .sm(top,85px);
  .xs(top, 60px);
}

.images__main{
  width: 60%;
  .row-flex();
  .justify-content(center);
  .justify-content-sm(space-around);
  text-align: center;
  margin: 0 auto;
  @media screen and (max-width:1199px) {
    width: 75%;
  }
}

.images__item{
  .col-3();
  .col-lg-3();
  display: flex;
  flex-direction: column;
  .align-items(center);
}

.images__img{
  .sm(width, 100%);
  .xs(width, 140%);
  .xxs(width, 170%);
}

.images__text{
  line-height: 14px;
  font-size: 18px;
  .sm(font-size, 16px);
  .xxs(font-size, 14px);
  margin-top: auto;
  &-span{
    margin-left: 4px;
  }
}
.site-map{
  width: 52px;
  height: 53px;
  position: absolute;
  bottom: 15px;
  right: 200px;
  .lg(right, 80px);
  .md(right, 50px);
  .sm(right, 15px);
  .xs(right, 0px);
  .xxs(display, none);
  background: url(../img/sprite.png)  -9px -3px no-repeat;
  @media screen and (max-width:550px) {
    height: 37px;
    background: url(../img/sprite.png)  -238px -196px no-repeat;
  }
}


                                                    /*menu*/
.naving {
  width: 90%;
  .lg(width, 95%);
  margin: 20px auto;
  overflow-y: hidden;
  position: relative;
  border-radius: 20px 21px 21px 20px ~"/" 30px 30px 29px 29px;
  background-color: #fff;
  box-shadow: 0 -1px 3px #000, inset 0 -2px 5px rgba(102,102,102,.75);
  border: solid 3px #ccc;
  background-image: linear-gradient(to top, #282828, rgba(96,96,96,.85) 51%, rgba(114,114,114,.7), rgba(80,82,81,.7));
  transition: padding-bottom 0.4s ease;
}

.js-naving{
  .sm(padding-bottom, 270px);
}

.button-icon{           // for gumburger
  display: none;
  .sm(display, block);
  float: left;
  width: 44px;
  height: 34px;
  margin: 10px 0 0 30px;
  .sm(margin, 8px 0 8px 30px);
  background: #ddd;
  border: none;
  border-radius: 5px;
}
.button-icon__bar{              // for gumburger
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #888;
  margin-left: 5px;
  box-shadow: 0 6px 0 0px #888,
              0 -6px 0 0px #888;
}

.menu-wrap{
  width: 70%;
  display: inline-block;
  .sm(transitoin, 1s all ease);
  .sm(position, absolute);
  .sm(top, 0);
  .sm(left, 0);
  .sm(width, 100%);
  .sm(border-top, 1px solid #e7e7e7);
  .sm(margin-top, 50px);
}

.menu {
  width: 80%;
  .md(width, 90%);
  margin: 0 auto;
}

.menu__list {
  display: block;
  text-align: center;
  float:left;
  .sm(float, none);
  position: relative;
  &:after{
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -9.5px;
    right: 0;
    width: 1px;
    height: 17px;
    background-color: rgba(204,204,204,0);
    box-shadow: 0 2px 2px rgba(0,0,0,.75);
    background-image: linear-gradient(to left, rgba(254,254,254,.2), rgba(206,206,206,.2));
    .sm(display, none);
  }
}

.menu__link {
  position: relative;
  display: block;
  padding: 22px 25px;
  .lg(padding, 22px 19px);
  .md(padding, 22px 13px);
  .sm(padding, 15px 13px);  //43
  font-size: 14px;
  color: #ccc !important;
  .sm(color, white);
  text-shadow: 0 0 5px rgba(0,0,0,.75), 0 -1px 1px rgba(0,0,0,.75), 0 0 2px @white;
  &:hover,
  &:focus{
    color: #ccc;
    text-decoration: none;
    &:after{
      content: "";
      position: absolute;
      bottom: 18px;
      .sm(bottom, 10px);
      left: 50%;
      margin-left: -25px;
      width: 50px;
      height: 1px;
      background-color: #f90;
    }
  }
}
.menu__list:nth-child(4) .menu__link:hover:after,
.menu__list:nth-child(4) .menu__link:focus:after{
  width: 60px;
  margin-left: -30px;
}
.search-wrap{
  float: right;
  width: 30%;
  .xs(width, 65%);

}

.search-wrap-sm{
  .sm(line-height, 45px);
  .sm(position, absolute);
  .sm(top, -10px);
  .sm(right, 0);
  .sm(width, 50%);
  .sm(margin-right, 2%);
}

.search{
  margin-top: 18px;
  .sm(margin-top, 22px);
  text-align: center;
  padding-right: 40px;
  .md(padding-right, 20px);
  &__input{
    float: right;
    box-shadow: 0 -3px 3px rgba(153,153,153,.11);
    border: solid 1px #666;
    border-radius: 12px 0 0 12px;
    width: 70%;
    .md(width, 75%);
    height: 24px;
    background: @white;
    font-size: 14px;
    padding-left: 10px;
  }
  &__button {
    position: relative;
    left: -1px;
    top: 1px;
    float: right;
    width: 37px;
    height: 22px;
    background-color: rgba(0,55,98,0);
    box-shadow: 1px 2px 2px rgba(0,0,0,.75);
    border: solid 1px @white;
    background-image: linear-gradient(to left, rgba(33,33,33,.2), rgba(101,102,103,.2) 72%, rgba(100,101,101,.2));
    &:before{
      content: "";
      position: absolute;
      left: 0px;
      top: 0px;
      width: 37px;
      height: 20px;
      background: url(../img/sprite.png)  -123px -7px no-repeat;
    }
  }
}


                                /*menu with bootstrap*/

//.nav2 {
//  width: 90%;
//  .lg(width, 95%);
//  margin: 0 auto 20px;
//  border-radius: 20px 21px 21px 20px ~"/" 30px 30px 29px 29px;
//  background-color: @white;
//  box-shadow: 0 -1px 3px #000, inset 0 -2px 5px rgba(102,102,102,.75);
//  border: solid 3px @grey;
//  background-image: linear-gradient(to top, #282828, rgba(96,96,96,.85) 51%, rgba(114,114,114,.7), rgba(80,82,81,.7));
//}
//
//.menu2-wrap{
//  width: 70%;
//  .sm(width, 60%);
//  .xs(width, 50%);
//  display: inline-block;
//}
//
//.menu2 {
//  width: 80%;
//  .md(width, 90%);
//  margin: 0 auto;
//  .sm(display, none);
//}
//
//.menu__list2 {
//  display: block;
//  text-align: center;
//  float:left;
//  .sm(float, none);
//  position: relative;
//  &:after{
//    content: "";
//    position: absolute;
//    top: 50%;
//    margin-top: -9.5px;
//    right: 0;
//    width: 1px;
//    height: 17px;
//    background-color: rgba(204,204,204,0);
//    box-shadow: 0 2px 2px rgba(0,0,0,.75);
//    background-image: linear-gradient(to left, rgba(254,254,254,.2), rgba(206,206,206,.2));
//    .sm(display, none);
//  }
//}
//
//.nav .menu__link2 {
//  position: relative;
//  display: block;
//  padding: 21px 29px;
//  .lg(padding, 21px 19px);
//  .md(padding, 21px 11px);
//  font-size: 14px;
//  color: @grey !important;
//  .sm(color, white);
//  text-shadow: 0 0 5px rgba(0,0,0,.75), 0 -1px 1px rgba(0,0,0,.75), 0 0 2px @white;
//  &:hover,
//  &:focus{
//    color: @grey;
//    text-decoration: none;
//    &:after{
//      content: "";
//      position: absolute;
//      bottom: 18px;
//      .sm(bottom, 10px);
//      left: 50%;
//      margin-left: -25px;
//      width: 50px;
//      height: 1px;
//      background-color: #f90;
//    }
//  }
//  @media screen and (max-width:767px) {
//    padding: 10px 15px;
//  }
//}
//
//.menu__list2:nth-child(4) .menu__link2:hover:after,
//.menu__list2:nth-child(4) .menu__link2:focus:after{
//  width: 60px;
//  margin-left: -30px;
//}
//
//.search2-wrap{
//  float: right;
//  width: 85%;
//  .md(width, 100%);
//  //.sm(width, 50%);
//  .xs(width, 65%);
//  .sm(line-height, 45px);
//  .sm(margin-top, -5px);
//  @media screen and (max-width:767px) {
//    width: 50%;
//  }
//}
//
//.search2{
//  height: 24px;
//  margin-top: 17px;
//  //.sm(margin-top, 15px);
//  &__input{
//    float: left;
//    box-shadow: 0 -3px 3px rgba(153,153,153,.11);
//    border: solid 1px #666;
//    border-radius: 12px 0 0 12px;
//    width: 70%;
//    height: 100%;
//    background: @white;
//    font-size: 14px;
//    padding-left: 10px;
//  }
//  &__button {
//    position: relative;
//    left: -1px;
//    top: 1px;
//    float: left;
//    width: 37px;
//    height: 22px;
//    background-color: rgba(0,55,98,0);
//    box-shadow: 1px 2px 2px rgba(0,0,0,.75);
//    border: solid 1px @white;
//    background-image: linear-gradient(to left, rgba(33,33,33,.2), rgba(101,102,103,.2) 72%, rgba(100,101,101,.2));
//    &:before{
//      content: "";
//      position: absolute;
//      left: 0px;
//      top: 0px;
//      width: 37px;
//      height: 20px;
//      background: url(../img/sprite.png)  -123px -7px no-repeat;
//    }
//  }
//}
//
//.navbar .navbar-toggle2{
//  float: left;
//  margin-left: 30px;
//  .xxs(margin-left, 10px);
//  background: #ddd;
//  &:hover{
//    background: @white;
//  }
//}
//.navbar-header2{
//  width: 30%;
//  float: right;
//  @media screen and (max-width:767px) {
//    float: left;
//    width: 100%;
//  }
//}
//
//.collapse2{
//  padding-left: 70px;
//  .md(padding-left, 30px);
//  width: 70%;
//  float: left;
//  @media screen and (max-width:767px) {
//    float: right;
//    width: 100%;
//  }
//}

                                    /*carosel*/

.carousel {
  position: relative;
  box-shadow: inset 0 0 5px rgba(0,0,0,.55), 0 -1px 1px rgba(0,0,0,.25);
  border: solid 4px #e5e5e5;
  background-image: linear-gradient(to bottom, #fefefe, #cecece);
  border-radius: 30px;
  width: 98%;
  margin: 0 auto 30px;
  &__left,
  &__right{
    position: absolute;
    top: 50%;
    margin-top: -22px;
    width: 42px;
    height: 43px;
    background: #ececec url(../img/sprite.png) -161px -1px no-repeat;
    border-radius: 50%;
    border: solid 1px #cbcbcb;
    z-index: 5;
    cursor: pointer;
  }
  &__left{
    left: -15px;
    transform: rotate(180deg);
  }
  &__right{
    right: -15px;
  }
}

.swiper-container {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 75px;

}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 323px;
  height: 255px;
}

                                    /*carousel1*/

.carousel__container {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 75px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.carousel__container_3d{
  perspective: 1200px;
}

.carousel__wrapper{
  transform: translate3d(0px, 0, 0);
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;

  transform: translate3d(380px, 0px, 0px);
  .lg(transform, translate3d(295px, 0px, 0px));
  .md(transform, translate3d(190px, 0px, 0px));
  .sm(transform, translate3d(25%, 0px, 0px));
  .xs(transform, translate3d(12%, 0px, 0px));
  .xxs(transform, translate3d(0%, 0px, 0px));
  transition-duration: 0ms;
  transform-style: preserve-3d;
}

.carousel__slide {
  position: relative;
  background-position: center;
  background-size: cover;
  width: 323px;
  height: 255px;
  flex-shrink: 0;
  &:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -40px;
    width: 250px;
    height: 1px;
    background: rgba(183, 183, 183, 0.55);
    box-shadow: 0px 0px 12px 10px rgba(185, 185, 185, 0.55);
    border-radius: 50%;
  }
}

.carousel__slide_active{
  transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) !important;
  z-index: 2 !important;
  transition-duration: 0ms !important;
}


                                          /*carousel2*/
.carousel2 {
  position: relative;
  box-shadow: inset 0 0 5px rgba(0,0,0,.55), 0 -1px 1px rgba(0,0,0,.25);
  border: solid 4px #e5e5e5;
  background-image: linear-gradient(to bottom, #fefefe, #cecece);
  border-radius: 30px;
  width: 98%;
  margin: 0 auto 30px;
  &__left,
  &__right{
    position: absolute;
    top: 50%;
    margin-top: -22px;
    width: 42px;
    height: 43px;
    background: #ececec url(../img/sprite.png) -161px -1px no-repeat;
    border-radius: 50%;
    border: solid 1px #cbcbcb;
    z-index: 5;
    cursor: pointer;
  }
  &__left{
    left: -15px;
    transform: rotate(180deg);
  }
  &__right{
    right: -15px;
  }
}
.carousel2__container {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 75px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.carousel2__container_3d{
  perspective: 1200px;
}

.carousel2__wrapper{
  transform: translate3d(0px, 0, 0);
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
  justify-content: center;

  //transform: translate3d(380px, 0px, 0px);
  //.lg(transform, translate3d(295px, 0px, 0px));
  //.md(transform, translate3d(190px, 0px, 0px));
  //.sm(transform, translate3d(50px, 0px, 0px));
  transition-duration: 0ms;
  transform-style: preserve-3d;
}

.carousel2__slide {
  position: relative;
  background-position: center;
  background-size: cover;
  width: 323px;
  height: 255px;
  flex-shrink: 0;
  &:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -40px;
    width: 250px;
    height: 1px;
    background: rgba(183, 183, 183, 0.55);
    box-shadow: 0px 0px 12px 10px rgba(185, 185, 185, 0.55);
    border-radius: 50%;
  }
}

.carousel2__slide_active{
  transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) !important;
  z-index: 2 !important;
  transition-duration: 0ms !important;
}

                                    /*topic*/

.topic{
  .row-flex();
  .justify-content(space-around)
}

.topic__item{
  .col-4();
  .col-sm-10();
  .col-xs-11();
  padding-left: 8%;
  position: relative;
  .sm(margin-bottom, 15px);
  &:before{
    content: "";
    position: absolute;
    left: -5px;
    .sm(left, -30px);
    .xs(display, none);
    top: 16px;
    width: 95px;
    height: 60px;
    z-index: -1;
    background: url(../img/sprite.png) -238px -51px no-repeat;
  }
  &:after{
    content: "";
    position: absolute;
    right: -15px;
    bottom: 0px;
    width: 1px;
    height: 97%;
    background-color: @grey;
    .sm(display, none);
  }
}
.topic__item_bg2:before{
  left: -12px;
  background: url(../img/sprite.png) -127px -50px no-repeat;
}
.topic__item_bg3:before{
  left: -12px;
  background: url(../img/sprite.png) -13px -64px no-repeat;
}
.topic__item_bg3:after{
  display: none;
}

.topic__title{
  position: relative;
  font-size: 18px;
  height: 50px;
  color: #006969;
  margin-bottom: 10px;
  .md(margin-bottom, 15px);
  padding-left: 40px;
  &:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0px;
    width: 27px;
    height: 27px;
    background: url(../img/sprite.png) -82px -14px no-repeat;
  }
  &:after{
    content: "";
    position: absolute;
    left: 20px;
    bottom: 0px;
    width: 80%;
    .xxs(width, 70%);
    height: 1px;
    z-index: -1;
    background-color: @grey;
    .sm(left, 50px);
    .xs(left, 60px);
  }
}

.topic__text{
  font-family: "CenturyGothic";
  font-size: 12px;
  line-height: 14px;
}

.topic__img-title{
  margin: 15px 0 5px;
  font-family: "CenturyGothic";
}

.topic__figure{
  width: 105px;
  height: 100px;
  background: url(../img/sprite.png) -6px -127px no-repeat;
}
.topic__figure_bg2 {
  margin-left: -7px;
  width: 208px;
  height: 89px;
  background: url(../img/sprite.png) -117px -106px no-repeat;
  .md(margin-left, -32px);
  .sm(margin-left, -7px);
}
.topic__figure_bg3 {
  margin-top: 10px;
  width: 150px;
  background: url(../img/sprite.png) -6px -223px no-repeat;
}

.topic__figure_bg2,
.topic__figure_bg3{
  position: relative;
  &:after{
    content: "";
    position: absolute;
    left: 20px;
    bottom: -4px;
    width: 170px;
    height: 1px;
    background-color: rgba(188, 188, 188, 0.99);
    border-radius: 50%;
    box-shadow: 0px 0px 10px 7px rgba(180, 180, 180, 0.85);
  }
}
.topic__figure_bg3:after{
  left: -5px;
  bottom: 20px;
}

                                        /*footer*/

.footer{
  background-color: #353535;
  padding: 1px 0 0;
  font-family: "Georgia";
}

.footer__border{
  height: 5px;
  border-top: solid 1px #5f5f64;
  border-bottom: solid 2px rgba(127, 127, 127, 0.91);
  background-image: linear-gradient(to top, #ebebeb 50%, #bdbdbd 50%);
}

.footer__blocks{
  .row-flex();
  .justify-content(space-around);
  padding: 10px 0 0;
}

.footer__block{
  .col-4();
  .col-sm-10();
  .col-xs-11();
  .col-xxs-12();
  padding-left: 18px;
  .md(padding-left, 0px);
  position: relative;
  color: #cecece;
  font-size: 14px;
  &:after {
    content: "";
    position: absolute;
    right: -15px;
    top: 0px;
    width: 1px;
    height: 95%;
    background-color: #ccc;
    .sm(display, none);
  }
  &-3:after{
    display: none;
  }
  &-1,
  &-2{
    .sm(margin-bottom, 20px);
  }
}

.footer__info{
  height: 65px;
  .sm(height, 40px);
  padding-left: 45px;
  position: relative;
  display: table;
  &:before {
    .pseudoElement();
    left: 0px;
    top: 0px;
    width: 35px;
    height: 32px;
    background: url(../img/sprite.png) -207px -5px no-repeat;
  }
  &_bg2:before{
    background: url(../img/sprite.png) -258px -2px no-repeat;
  }
  &_bg3:before{
    background: url(../img/sprite.png) -309px -4px no-repeat;
  }
  &:after{
    .pseudoElement();
    bottom: 0;
    left: 0;
    width: 35px;
    height: 33px;
    background: url(../img/sprite.png) -325px -52px no-repeat;
    .sm(display, none);
  }
  &_bg2:after{
    background: url(../img/sprite.png) -358px -7px no-repeat;
  }
  &_bg3:after{
    background: url(../img/sprite.png) -359px -68px no-repeat;
  }
}
.footer__text{
  display: table-cell;
  vertical-align: middle;
  line-height: 16px;
}

.footer__contacts{
  line-height: 16px;
  padding: 11px 0  10px 35px;
  .sm(padding, 6px 0  5px 35px);
  position: relative;
  &:before {
    .pseudoElement();
    left: 0px;
    top: 0px;
    width: 25px;
    height: 30px;
    background: url(../img/sprite.png) -331px -101px no-repeat;
  }
  &_bg2:before{
    background: url(../img/sprite.png) -368px -95px no-repeat;
  }
  &_bg3:before{
    background: url(../img/sprite.png) -330px -138px no-repeat;
  }
  &_bg4:before{
    background: none;
  }
  &_bg5:before{
    background: url(../img/sprite.png) -365px -130px no-repeat;
  }
}

.footer__block_bg3{
  padding-left: 9px;
  .md(padding-left, 0px);
}

.footer__email,
.footer__social{
  .col-float();
  width:78%;
  color: #cecece;
}
.footer__social{
  width: 47px;
  height: 100%;
}
.social__link{
  display: block;
  margin-bottom: 15px;
  margin-left: auto;
  width: 27px;
  height: 27px;
  background: url(../img/sprite.png) -331px -176px no-repeat;
  &-2{
    background: url(../img/sprite.png) -368px -175px no-repeat;
  }
  &-3{
    background: url(../img/sprite.png) -329px -215px no-repeat;
  }
  &-4{
    background: url(../img/sprite.png) -290px -204px no-repeat;
  }
}


.footer__fon {
  background-color: #404040;
  box-shadow: inset 0 0 15px #4f4f4f, 0 2px 2px #4f4f4f;
  border: solid 1px #4b4b4b;
}

.footer__email-title{
  padding: 26px 0 22px 65px;
  position: relative;
  &:before {
    .pseudoElement();
    left: 13px;
    top: 10px;
    width: 40px;
    height: 45px;
    background: url(../img/sprite.png) -360px -233px no-repeat;
  }
}

.footer__email-text{
  font-size: 10px;
  font-family: "MyriadPro-Regular";
  padding: 10px 15px;
  .md(padding, 10px 0 10px 7px);
  .sm(padding, 10px 15px);
}

.footer__email-span{
  display: block;
  //word-break: break-all;
  line-height: 12px;
}

.footer__psd{
  padding: 30px 0 10px 40px;
  position: relative;
  font-family: Constantia;
  font-size: 10px;
  text-shadow: 0 -5px 5px rgba(0,0,0,.75);
  &:before {
    .pseudoElement();
    left: -15px;
    bottom: 2px;
    width: 42px;
    height: 40px;
    background: url(../img/sprite.png) -178px -200px no-repeat;
  }
}


                                          /*copyright*/

.copyright{
  font-family: "Georgia";
  background: black;
  font-size: 14px;
  color: #cecece;
  box-shadow: 0 2px 0px #cecece;
}

.footer__flex{
  .row-flex();
  .justify-content(center);
}

.copyright__text{
  .col-4();
  .col-md-12();
  padding: 5px 0;
  text-align: right;
  .md(text-align, center);
  .md(font-size, 12px);
  &-date{
    font-size: 13px;
    .md(font-size, 11px);
    margin: 0 10px;
  }
}

.footer__menu{
  .col-8();
  .col-md-12();
  .row-flex();
  .justify-content(space-around);
  .justify-content-sm(center);
  border-bottom: 1px solid #313131;
  .md(padding, 5px 0);
  .xs(padding, 10px 0);
}

.footer__list{
  .col-float();
  position: relative;
  &:after{
    .pseudoElement();
    top: 50%;
    margin-top: -6px;
    right: 0;
    width: 1px;
    height: 13px;
    background-color: #cecece;
    .xs(display, none);
  }
  &_last:after{
    display: none;
  }
}

.footer__link{
  display: block;
  padding: 4px 26px;
  .lg(padding, 4px 18px);
  .md(padding, 7px 25px);
  .sm(padding, 7px 16px);
  .xs(padding, 7px 5px);
  .xxs(padding, 5px);
  color: inherit;
  &:hover{
    color: #f90;
  }
}